{% extends 'main/base.html' %} {% load static %} {% block content %}

<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-md-12">
      <h4 class="text-center">About Us</h4>
      <p class="text-center">
        ROL Properties was formed in 2021 with a vision of reinventing the
        properties market in making it accessible to many world-wide. Our main
        aim is to offer a service that will ensure our clients experience
        integrity, transparency, detailed process & professionalism in the
        market in accordance to world approved standards.
      </p>
      <p class="text-center">
        ROL Properties works together with other experts in the market to assist
        in processing nothing but genuine property (ies) in in the market in a
        professional manner.
      </p>
      <p class="text-center">
        We focus on Renting, Owning & Leasing properties across Kenya which
        gives the seller or the buyer an opportunity to genuinely get what they
        expect & want.
      </p>
      <p class="text-center">
        Please reach out to us for support in acquiring property (ies),
        assistance in rentals & support in leasing for various investment
        reasons.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4 class="text-center">Our Goal</h4>
      <p class="text-center">
        To enable people & institutions rent, own or lease property (ies) in a
        transparent legal manner.
      </p>
    </div>
  </div>
  <di class="row">
    <div class="col-md-12">
      <h4 class="text-center">Our Values</h4>
      <p class="text-center">Professionalism</p>
      <p class="text-center">Transparency</p>
      <p class="text-center">Honesty</p>
    </div>
  </di>
  <div class="row">
    <div class="col-md-12">
      <h4 class="text-center">Our Service</h4>
      <ul class="text-center">
        <li>
          - Real Estate Agency management & linkages with our versed network of
          collaborators
        </li>
        <li>
          - Assistance in buying residential, industrial or commercial
          properties advertisements
        </li>
        <li>- Sellers management on rental or selling of properties</li>
        <li>- Support in the legal transfers of properties</li>
        <li>- Support in searches & verifications</li>
        <li>
          - Land processing support i.e., legal, land searches, seating in land
          boards
        </li>
        <li>
          - Assistance in rental searches & direction be it residential,
          commercial or industrial
        </li>
        <li>
          - Support in lease registration, searches & all legal requirements to
          protect the lessee & the lessor
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid services-bg">
  {% include 'main/incl/services.html' %}
</div>

{% endblock content %}
