<div class="container-fluid topnav" id="scroll">
  <ul class="topul">
    <li class="topli">
      <a href="{% url 'main:index' %}" class="toplink">Home</a>
    </li>
    <li class="topli">
      <a href="{% url 'main:sale' %}" class="toplink">Property For Sale</a>
    </li>
    <li class="topli">
      <a href="{% url 'main:rent' %}" class="toplink">Property For Rent</a>
    </li>
    <li class="topli">
      <a href="{% url 'main:land' %}" class="toplink">Land</a>
    </li>
    <li class="topli">
      <a href="{% url 'main:contact' %}" class="toplink">Contact</a>
    </li>
  </ul>

  <p>Call US: +254-7000000</p>
  <a href="#" class="btn-1">Sign In</a>
</div>
